*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(40, 40, 40);
}


.table{
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(40, 40, 40);
}

.table div{
    display: flex;
}

ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    box-shadow: 1px 1px 3px rgb(140, 140, 140);
    border-radius: 5px;
}

li{
    min-width: 100px;
    text-align: center;
    padding: 10px 5px;
    border-left: 1px solid rgb(120, 120, 120);
}

ul li:first-child{
    font-weight: bold;
    border-left: none;
}

.table-mobile{
    display: flex;
    font-size: 12px;
    gap: 5px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(40, 40, 40);
}

.add-waiter{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

button{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(140, 140, 140);
}

.headers{
    font-weight: bold;
}

.waiters{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

input{
    display: flex;
    width: 100px;
    border: none;
    padding: 5px 20px;
    background-color: rgb(240, 240, 240);
}

input:focus{
    outline: none;
}